.hotel {
  @apply bg-[#FBF4EE];
}

.text-cursive {
  font-family: 'Inspiration', cursive;
}

.center {
  text-align: -webkit-center;
  justify-content: center;
}

.bg-img {
  @apply bg-center bg-no-repeat bg-cover object-fill w-full h-full;
}

.text-cursive-header {
  @apply text-cursive sm:text-8xl text-6xl text-[#F77A32];
}

.x-spacing {
  @apply md:px-20 px-2;
}

.xr-spacing {
  @apply md:pr-20 pr-2;
}

.xl-spacing {
  @apply md:pl-20 pl-2;
}


.header {
  @apply sm:text-7xl text-5xl font-extrabold md:leading-[4.5rem] leading-[4rem];
}

.header-cursive {
  @apply text-cursive text-7xl;
}

.sub-header {
  @apply md:text-5xl text-3xl;
}

.list-header {
  @apply text-3xl;
}

.list-text {
  @apply text-lg;
}

.description {
  @apply text-xl;
}

.button {
  @apply md:py-4 md:px-14 py-2 px-6 border-2 md:text-base text-sm;
}

.button-white {
  @apply button bg-transparent text-white hover:bg-white hover:text-black;
}

.button-green {
  @apply button bg-[#487355] text-white;
}

.button-orange {
  @apply button bg-[#F77A32] hover:bg-[#d56f34] text-white;
}

.hero {
  @apply w-full h-full flex lg:flex-row flex-col min-h-[calc(100vh-5.5rem)];
}

.hero-left {
  @apply basis-2/5;
}

.hero-right {
  @apply basis-3/5 xr-spacing min-h-[calc(100%-5.5rem)] hidden lg:block
  bg-[url('https://images.unsplash.com/photo-1566073771259-6a8506099945?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')];
}

.hotel-nav {
  @apply xl-spacing h-[5.5rem] items-center flex justify-between border-b-2;
}

.hotel-nav-logo {
  @apply justify-center text-cursive;
}

.hotel-nav-logo span {
  @apply text-2xl font-bold;
}

.hotel-nav-container {
  @apply flex;
}

.hotel-nav ul {
  @apply flex flex-grow justify-between w-[20rem];
}

.hero-left-text {
  @apply h-full xl-spacing;
}

.tagline-container {
  @apply py-60 ;
}

.hero-cursive {
  @apply text-cursive text-8xl text-green-700;
}

.story-text {
  @apply hidden lg:flex border-2 items-center;
}

.story-text-left {
  @apply basis-2/5 py-20 border-r-2 pl-20;
}

.story-text-right {
  @apply basis-3/5 pl-20 py-20 pr-20;
}

.story-text-border {
  @apply border-r-2 h-full;
}

.story-img-container {
  @apply h-[60rem] pt-20 x-spacing;
}

.story-img {
  @apply bg-img
  bg-[url("https://images.unsplash.com/photo-1529316275402-0462fcc4abd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80")];
}

.info {
  @apply py-20;
}

.info-container {
  @apply xl:px-[28rem] pb-20 x-spacing;
}

.info-text {
  @apply text-center
}

.wellness {
  @apply bg-img
  bg-[url('https://images.unsplash.com/photo-1635842254792-d2389c390607?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')];
}

.testimonial-img {
  @apply bg-img
  bg-[url('https://images.unsplash.com/photo-1615039666131-964929ad0f1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')];
}

.footer-bar ul li {
  @apply md:p-6 py-6 px-2;
}

.card {
  @apply md:max-w-sm w-full
}